.DS_Store
server


# Backend
backend/CLAUDE.md
backend/main
backend/server
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/go.work
backend/.idea/
backend/.vscode/
backend/*.swp
backend/*.swo
backend/.DS_Store
backend/logs/
backend/*.log
backend/config/config.yaml

# Frontend
frontend/CLAUDE.md
frontend/.claude
frontend/.claude/*
frontend/# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
frontend/*.claude
frontend/*.claude/*
frontend/node_modules/*
frontend/node_modules
frontend/.gitignore
frontend/README.md
frontend/dist
frontend/.omc
frontend/.vscode
frontend/docs
frontend/docs/*
images/*
images/
